.single_product{
    h4{
        text-align: center;
        font-size: 17px;
        margin-top: 0;
    }
    .price{
        color: #f62f5e;
        font-weight: 700;
        display: flex;
        justify-content: center;
    }
    .desciption{
        font-weight: 300;
        font-style: italic;
    }
    border: 1px solid #cccccc;
    padding: 25px;
    border-radius: 6px;
}